<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>sample</title>
</head>
<body>
flyway-info
<dl>
    <dt>checksum:</dt>
    <dd th:text="${checksum}">checksum</dd>

    <dt>description:</dt>
    <dd th:text="${description}">description</dd>

    <dt>executionTime</dt>
    <dd th:text="${executionTime}">executionTime</dd>

    <dt>InstalledBy</dt>
    <dd th:text="${installedBy}">installedBy</dd>

    <dt>InstalledOn</dt>
    <dd th:text="${installedOn}">installedOn</dd>

    <dt>InstalledRank</dt>
    <dd th:text="${installedRank}">installedRank</dd>

    <dt>script</dt>
    <dd th:text="${script}">script</dd>

    <dt>state</dt>
    <dd th:text="${state}">state</dd>

    <dt>type</dt>
    <dd th:text="${type}">type</dd>

    <dt>version</dt>
    <dd th:text="${version}">version</dd>
</dl>
</body>
</html>